* {
    /* eyedrop from https://brand.visitcalgary.com/#section-colour*/
    --main-background-color: white;
    --main-color: black;
    /* Primary */
    --rivers: #0064ff;
    --sun: #ffda24;
    --sky: #40c2f3;
    --energy: #ef3340;
    /* Secondary */
    --light-blue:#7BE6FE;
    --hazy-blue:#4584FF;
    --deep-blue:#003B95;
    --warm-orange:#FFA740;
    --pure-black:#000000;

	/* from https://www.flagcolorcodes.com/ukraine */
	--ukraine-blue: #0057B7;
	--ukraine-yellow: #FFDD00;
	--calgary-red: #c8102e;
	--calgary-grey: #4b4f55;
	--calgary-light-grey: #ededee;
	--calgary-header-background: #f6f6f6;

    /* Fonts */
    font-family: poppins; inter;


}



